// this gets the main app to fill the entire screen

// app.js

html, body, #app {
  height: 100%;
}

// login.js

.login-screen {
  background-color: #0000ff;
  background-image: url('../assets/images/pexels-photo-606541.jpeg');
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  .field {
    height: 96px;
  }
}

.login-container {
  background-color: rgb(199 184 184 / 65%);
  width: 250px;
}

.login-form {
  margin-top: 50%;
  margin-bottom: 50%;
}

// input.js

.input-container {
  display: flex;
  flex-direction: column;
}

.input-error {
  color: red;
}

.label {
  text-transform: capitalize;
}

// home.js

.homepage {
  background-color: #e5e8e7;
  height: 100%;
}

#topbar {
  .title-box {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .search-container .field {
    .input-box {
      flex-grow: 1;
    }

    .search-button {
      width: 50px;
    }
  }
}

.folder-list {

  background-color: white;

  .folder-link {
    display: block;
    text-align: center;
    color: inherit;
    border: solid 1px #807d7d;
    height: 40px;
  }
}